
/*** Header movil ***/

a.menu-link { display: none; }

header_titulo {
    font-size:16px
}

#mobileNav {
  display:none;
}

@media screen and (max-width: 1250px) {

.main-nav{
display:none;
}

#mobileNav {
  display:block;
  padding: 5px;
  float:right;
  /*padding-top: 30px;*/
  /*padding-right: 50px;*/
  margin-top:-35px;
}
#top-nav {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 33px;
  right:0;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}
/*hamburger*/
.hamburgerspan {
  cursor: pointer;
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #fff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.hamburgerspan:first-child {
  transform-origin: 0 0;
}
.hamburgerspan:nth-last-child(2) {
  transform-origin: 0 100%;
}
#top-nav:checked ~ .hamburgerspan {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #fff;
}
#top-nav:checked ~ .hamburgerspan:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#top-nav:checked ~ .hamburgerspan:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}
input[id^="menu-"] {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
  opacity:0;
}
div[id^="menu-cont-"] {
  width: 100%;
  max-width: 550px;
  background-color: #000;
  padding: 5px;
  box-sizing: border-box;
  margin: 0;
  height: 80vh;
  position: fixed;
  overflow: hidden;
  right: 0;
  transform: translate3d(100%, 0, 0);
  transition: transform 0.35s;
  padding-right:0;
}
#top-nav:checked ~ div[id^="menu-cont-"],
input[id^="menu-"]:checked ~ div[id^="menu-cont-"] {
  transform: translate3d(0, 0, 0);
}
li.nav-item {
  width: 100%;
  font-size: 16px;
  list-style: none;
  padding: 15px 10px 15px 20px;
  border-bottom: 1px solid #23217f;
  box-sizing: border-box;
  position:relative;
}
div[id^="menu-cont-"] li.nav-item:last-child {
  border: 0;
}
.menu-ul {
  padding: 0;
  /*margin: 25px 0 0 0;*/
}

li.ir:before {
    content: "";
    border: 2px solid #00bcd4;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: 2px;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-left-style: solid;
    border-left-width: 2px;
    display: block;
    width: 10px;
    height: 10px;
    margin-bottom: -5px;
    float: right;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-color: #00bcd4;
    border-top: none;
    border-top-color: currentcolor;
    border-left: none;
    border-left-color: currentcolor;
    margin-top: 5px;
}

.nav-item.sub-menu:after, label.menu-label:before {
  content: "";
  border: 2px solid #00bcd4;
  border-top-color: transparent;
  border-top-style: solid;
  border-top-width: 2px;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-left-style: solid;
  border-left-width: 2px;
  display: block;
  width: 10px;
  height: 10px;
  margin-bottom: -5px;
  float: right;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-color: #00bcd4;
  border-top: none;
  border-top-color: currentcolor;
  border-left: none;
  border-left-color: currentcolor;
  margin-top: 5px;
}
label.menu-label {
  width: 100%;
    display: block;
    padding: 15px 10px 15px 20px;
    border-bottom: 1px solid #23217f;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
    background-color: #000;
}
label.menu-label:before {
  float:left;
  margin:5px;
  margin-left:0px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
#menu-cont-1{
    z-index:1001;
    margin-top: 11px;
 }
#menu-cont-2{
z-index:1002;
margin-top: -150px;
}
#menu-cont-3{
z-index:1003;
margin-top: -210px;
}

#menu-cont-4{
z-index:1003;
margin-top: -270px;
}

#menu-cont-5{
z-index:1003;
margin-top: -380px;
}

#menu-cont-6{
z-index:1003;
margin-top: -430px;
}

#menu-cont-7{
z-index:1003;
margin-top: -430px;
}

.hamburgerspan{z-index:9998;}
#top-nav{
z-index:9999;
float:right;
margin-top: 30px;
    margin-right: 30px;
    padding-top: 30px;
    padding-right: 50px;
}
}

.main-nav {
    margin-top:-49px;
}



.logo {
    margin-left: 40px;
    margin-top: -3px;
}

@media (max-width: 500px) {
.logo {
    margin-left: 10px;
    margin-top: 0px;
}
}

.header-header--fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

.header-header {
    /*background-color: #000000c9;*/
    height: 80px;
    z-index: 12;
    width: 100%;
    top: 0;
}

.header-header__banner {
    width: 100%;
    --tw-bg-opacity: 1;
    background-color: #215fc0;
    padding: 0.30rem;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.4rem;
    --tw-text-opacity: 1;
}

@media (max-width: 650px) {
.header-header__banner {
    font-size: 1.0rem;
}
}

@media (max-width: 550px) {
.header-header__banner {
    font-size: 0.9rem;
}
}

@media (max-width: 483px) {
.header-header__banner {
    font-size: 0.8rem;
}
}
@media (max-width: 429px) {
.header-header__banner {
    line-height: 0.9rem;
}
}

.header-header__banner a{
    color:#fff;
}

.header-header__banner a:hover {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}


.header-header__wrapper {
    background-color: #000000c9;
    /*display: flex;
    align-items: center;*/
    padding: 0.5rem 1.5rem;
    width: 100%;
    height: 65px;
}

.main-header .logo {
    position:fixed;
    float: left;
    line-height: 80px;
    padding-left: 60px;
}

.main-header .logo a {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
}
.main-header .logo a em {
    font-style: normal;
    color: #3dd0d8;
}


.main-nav li:hover a {
    color:#00e5ff;
}

.main-nav li.active a {
    color:#3CF;
}

.main-nav a.active {
    color:#3CF;
}

@media (max-width: 950px) {
  .main-nav li:hover a,
  .main-nav li.active a {
    border: 2px solid transparent;
    border-bottom: 1px solid rgba(250,250,250,0.25);
  }
}

@media screen and (max-width: 1020px) {
  .main-header .logo {
    position: fixed;
    line-height: 73px;
    padding-left: 25px;
  }
}

@media screen and (max-width: 1020px) and (max-height: 900px) {
  nav[role="navigation"].active {
    max-height: calc(80px + 100vh);
    overflow-y: auto;
  }
}

/*** Fin header movil ***/

.size_logo {
    width: 300px;
}

/*** boton header ***/
/*** button ***/
.bn_header {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  padding: 0.4em 1em;
  margin-left: 0.5em;
  border-radius: 6px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
}

.bn_header p{
    font-size:17px;
}

.bn_header .text {
  /*background-clip: text;*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}

.bn_header:after {
  content: "";
  border-radius: 6px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #0e0e10;
}

.bn_header:hover {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.bn_header:hover .text {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}
/*** fin de boton header ***/

/**** menu header ****/

.wrapper{
  text-align: center;
}

.wrapper .logo a{
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.wrapper .nav-links{
  display: inline-flex;
  /*padding-top:25px;*/
  align-items: center;
  text-align: left;
}

@media screen and (max-width: 1700px) {
.wrapper .nav-links{
  margin-top:7px;
}
}

@media screen and (max-width: 1400px) {
.wrapper .nav-links{
  margin-top:11.5px;
}
}

.link-header li a{
  color: #f2f2f2 !important;
  text-decoration: none !important;;
  font-size: 17px !important;;
  font-weight: 500 !important;;
  padding: 9px 5px !important;;
  border-radius: 5px !important;;
  transition: all 0.3s ease !important;;
}
.link-header li a:hover{
  background: #3A3B3C !important;
}

.nav-links li{
  list-style: none;
}
.nav-links li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
/*.nav-links li a:hover{
  background: #fff;
}*/

/**** reestyle ***/
.spot {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.svg-wrapper {
  position: relative;
  width: 150px;
  display: inline-block;
  border-radius: 3px;
}

.svg-submenus {
  position: relative;
  width: 340px;
  display: inline-block;
  border-radius: 3px;
}

.svg-subacronis {
  position: relative;
  width: 200px;
  display: inline-block;
  border-radius: 3px;
}
#shape {
  stroke-width: 0px;
  fill: transparent;
  stroke: #5c3e72;
  stroke-dasharray: 85 400;
  stroke-dashoffset: -220;
  transition: 1s all ease;
}
#text {
  text-align: center;
}
#text a {
  text-decoration: none;
}
.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 1px;
  stroke-dashoffset: 0;
  stroke: #3acfd5;
}

.svg-submenus:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 1px;
  stroke-dashoffset: 0;
  stroke: #3acfd5;
}

.svg-subacronis:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 1px;
  stroke-dashoffset: 0;
  stroke: #3acfd5;
  }


.linea-titulos {
    border-bottom: 1px solid #9193a8;
    color: #9193a8;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .3px;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-radius: 0px !important;
}

/* Shine */
.hover14 figure {
	position: relative;
}
.hover14 figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.hover08 figure img {
-webkit-filter: grayscale(0);
	filter: grayscale(0);
	-webkit-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;

}
.hover08 figure:hover img {
	-webkit-filter: grayscale(75%);
	filter: grayscale(75%);
	-webkit-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}


.menu-add .drop-button{
  font-size: 15px;
  border: none;
  cursor: pointer;
}



.menu-add .dropdown{
  position: relative;
  display: inline-block;
}

.menu-add .dropdown-content{
  display: none;
  position: absolute;
  background-color: #00000000;
  /*min-width: 340px;*/
  min-width: 100%;
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
  z-index: 1;
  line-height: 25px;
  padding-top: 65px;
  padding-bottom:10px;
}
/*.menu-add .dropdown-content{
  display: none;
  position: absolute;
  background-color: #000000c9;
  min-width: 340px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  line-height: 25px;
  padding-top: 10px;
  margin-left:150px;
  padding-bottom:10px;
}*/

.menu-add .dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

/*Muestra el menu cuando se hace hover*/
.menu-add .dropdown:hover .dropdown-content{
  display: block;
}

.dropdown-content a:hover{
  background-image: linear-gradient(-90deg, rgba(0,241,255,0.32816876750700286) 0%, rgba(18,145,201,0.29175420168067223) 100%);
  z-index:-1;
}

.text-submenu h8{
    font-size:15px;
}

.svg-submenus a{
  color: #d3d3d3 !important;
}

.svg-submenus a:hover{
  color: #ffffff !important;
}


.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -15px;
	margin-top:-75px
}

.arrows path {
	fill: transparent;
	stroke-width: 1px;
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}


.arrow2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: rotate(-90deg);
    cursor: pointer;

}

.arrow2 span {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 5px solid #19a3df;
    border-right: 5px solid #43c9ff;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
    color:#000
}

.arrow2 span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow2 span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

.pentest .wrapper {
  position: relative;
}
.pentest .inner-wrapper {
  position: absolute;
  margin-top:120px;
  margin-left:165px;
  transform: translate(-50%, -50%);
  background-color: #112c41de;
  border: 1px solid #2a3cad;
  padding: 20px;
  width: 250px;
  height: 250px;
  overflow: hidden;
  position: relative;
}

.pentest .inner-wrapper span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
}

.pentest .inner-wrapper .info {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 1px solid #bd770d;
  padding: 20px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(9, 0, 0, 0.5);
  background: white;
  color: black;
}

.pentest span:nth-child(1) {
  transform: rotate(0deg);
}

.pentest span:nth-child(2) {
  transform: rotate(90deg);
}

.pentest span:nth-child(3) {
  transform: rotate(180deg);
}

.pentest span:nth-child(4) {
  transform: rotate(270deg);
}

.pentest span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: #50dfdb;
  animation: animado 4s linear infinite;
}

@keyframes animado {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  50% {
    transform: scaleX(1);
    transform-origin: left;
  }
  /* 51.5% {
          transform: scaleX(1);
          transform-origin: right;
        } */

  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}

/**** reestyle ***/


.nav-links2 li a:hover{
  background: #fff0;
}


.nav-links li .noshadow a:hover{
  background: #fff0;
}

.noshadow h4{
  font-size:19px;

}

.noshadow p{
  font-size:17px;

}

.padding-header{
    padding:20px;
    text-align:center;
}
.nav-links .mobile-item{
  display: none;
}
.nav-links .drop-menu{
  position: absolute;
  background: #000000d1;
  width: 200px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
  transition: all 0.3s ease;
  top: 89px;
  opacity: 1;
  visibility: visible;
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box-respaldos{
  transition: all 0.3s ease;
  top: 89px;
  opacity: 1;
  visibility: visible;
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box-firewall{
  transition: all 0.3s ease;
  top: 89px;
  opacity: 1;
  visibility: visible;
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box-servicios{
  transition: all 0.3s ease;
  top: 89px;
  opacity: 1;
  visibility: visible;
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box-unacolumna{
  transition: all 0.3s ease;
  top: 89px;
  opacity: 1;
  visibility: visible;
}


.nav-links li:hover .mega-box2{
  transition: all 0.3s ease;
  top: 97px;
  opacity: 1;
  visibility: visible;
}

.nav-links li:hover .mega-box3{
  transition: all 0.3s ease;
  top: 97px;
  opacity: 1;
  visibility: visible;
}

.nav-links li:hover .mega-btn{
  transition: all 0.3s ease;
  top: 50px;
  opacity: 1;
  visibility: visible;
}

.drop-menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0;
}
.mega-box{
  position: absolute;
  left: 0;
  width: 100%;
  padding: 30px 200px;
  margin-top: -22px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}

.mega-box-respaldos{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 70%;
  padding: 30px 200px;
  margin-top: -22px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}

.mega-box-firewall{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 70%;
  padding: 30px 200px;
  margin-top: -22px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}

.mega-box-servicios{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 85%;
  padding: 30px 200px;
  margin-top: -22px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}

.mega-box-unacolumna{
  position: absolute;
  width: 50%;
  padding: 30px 200px;
  margin-top: -22px;
  margin-left:-420px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}

.mega-box2{
  position: absolute;
  top: 85px;
  padding-top: 20px;
  margin-top: -20px;
  opacity: 0;
  visibility: hidden;
}

.mega-box3{
  position: absolute;
  top: 85px;
  padding-top: 20px;
  margin-top: -20px;
  opacity: 0;
  visibility: hidden;
}

.mega-btn{
  position: absolute;
  top: 60px;
  padding-top: 20px;
  margin-top: -20px;
  opacity: 0;
  visibility: hidden;
}

.mega-box .content{
  background: #000000c9;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  box-shadow: 0px 1px 4px 0px rgb(7 223 255 / 50%);
}

.mega-box-respaldos .content{
  background: #000000c9;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  box-shadow: 0px 1px 4px 0px rgb(7 223 255 / 50%);
}

.mega-box-firewall .content{
  background: #000000c9;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  box-shadow: 0px 1px 4px 0px rgb(7 223 255 / 50%);
}

.mega-box-servicios .content{
  background: #000000c9;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  box-shadow: 0px 1px 4px 0px rgb(7 223 255 / 50%);
}
.mega-box-unacolumna .content{
  background: #000000c9;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  box-shadow: 0px 1px 4px 0px rgb(7 223 255 / 50%);
}
.mega-box2 .content2{
  background: #000000c9;
  padding: 25px 20px;
  display: flex;
  width: 70%;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}

.mega-box2 .content100{
  background: #000000c9;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}

.mega-box3 .content3{
  background: #000000c9;
  padding: 25px 20px;
  display: flex;
  /*margin-left: -20px;*/
  width: 60%;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}

.mega-box3 .content5{
  background: #000000c9;
  padding: 25px 20px;
  display: flex;
  /*margin-left: -20px;*/
  width: 30%;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}

.mega-box3 .content32{
  background: #000000c9;
  padding: 25px 20px;
  display: flex;
  /*margin-left: -20px;*/
  width: 60%;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}

.mega-box3 .content4{
  background: #000000c9;
    padding: 25px 20px;
    /*margin-left: -45px;*/
    display: flex;
    width: 30%;
    box-shadow: 0 6px 10px rgb(0 0 0 / 15%);
}

/*.mega-btn .content4{
  background: #000000c9;
    padding: 25px 20px;*/
    /*margin-left: -80px;*/
    /*margin-left: 0px;
    display: flex;*/
    /*width: 210%;*/
    /*width: 100%;
    box-shadow: 0 6px 10px rgb(0 0 0 / 15%);
}*/

.mega-btn .content4 {
    background: #000000c9;
    padding: 25px 30px 20px;
    /*margin-left: -80px;*/
    margin-left: -50px;
    display: flex;
    /*width: 210%;*/
    width: 150%;
    box-shadow: 0 6px 10px rgb(0 0 0 / 15%);
}

.mega-btn .content4 p{
  font-size:17px;
}

.mega-box .content .row{
  width: calc(25% - 30px);
  line-height: 45px;
  display:block;
}

.mega-box-respaldos .content .row{
  width: calc(70% - 30px) !important;
  line-height: 45px;
  display:block;
}

.mega-box-firewall .content .row{
  width: calc(40% - 30px);
  line-height: 45px;
  display:block;
}

.mega-box-servicios .content .row{
  width: calc(35% - 30px);
  line-height: 45px;
  display:block;
}
.mega-box-unacolumna .content .row{
  width: calc(70% - 30px);
  line-height: 45px;
  display:block;
}

.mega-box2 .content2 .row{
  line-height: 45px;
  display:block;
}

.mega-box2 .content100 .row{
  line-height: 45px;
  display:block;
}

.mega-box3 .content3 .row{
  line-height: 45px;
  display:block;
}

.mega-box3 .content5 .row{
  line-height: 45px;
  display:block;
}

.mega-box3 .content32 .row{
  line-height: 45px;
  display:block;
}


.mega-box3 .content4 .row{
  line-height: 45px;
  display:block;
}

.mega-btn .content4 .row{
  /*line-height: 45px;*/
  line-height: 35px;
  display:block;
}

.content .row img{
  width: 53%;
  height: 100%;
  object-fit: cover;
}

.icon_acronis img{
  width: auto !important;
  height: 60% !important;
}
.icon_acronis a{
  font-size:16px !important;
}

.centro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.content .row principal .kaspersky img{
  width: 55%;
  height: 100%;
  object-fit: cover;
  margin-left: 20px;
}

.content .row principal a{
  color:#919090 !important;
}

.content .row principal:hover a {
	color:#fff !important;
}


.content .row principal .fortinet img{
  width: 60%;
  height: 100%;
  object-fit: cover;
  margin-left: 20px;
}

.content .row principal .storage img{
  width: 60%;
  height: 100%;
  object-fit: cover;
  margin-left: 20px;
}

.content .row principal .pedidos img{
  width: 80%;
  height: 100%;
  object-fit: cover;
  margin-left: 20px;
}

.content .row principal .sonicwall img{
  width: 67%;
  height: 100%;
  object-fit: cover;
  margin-left: 20px;
}

.content .row principal .empleo img{
  width: 60%;
  height: 100%;
  object-fit: cover;
  margin-left: 20px;
}

.content .row principal .acronis img{
  width: 40%;
  height: 100%;
  object-fit: cover;
  margin-left: 10px;
}

.logos a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    padding: 0px 0px !important;
    border-radius: 0px !important;
    text-align: center;
}

.content .row principal .crowdstrike img{
  padding-top:10px;
  width: 80%;
  height: 100%;
  object-fit: cover;
  margin-left: 20px;
}
.content .row principal .sentinel img{
  width: 38%;
  height: 100%;
  object-fit: cover;
  margin-left: 20px;
}
.content .row principal .trend img{
  width: 60%;
  height: 100%;
  object-fit: cover;
  margin-left: 20px;
}

.content .row principal .email_trend img{
  width: 40%;
  height: 100%;
  object-fit: cover;
  margin-left: 20px;
}

.content .row principal .email_acronis img{
  width: 42%;
  height: 100%;
  object-fit: cover;
  margin-left: 20px;
}

.content .row principal .email_proof img{
  width: 45%;
  height: 100%;
  object-fit: cover;
  margin-left: 20px;
}

.content .row principal .email_kaspersky img{
  width: 40%;
  height: 100%;
  object-fit: cover;
  margin-left: 20px;
}

.content .row principal .acadefense img{
  width: 68%;
  height: 100%;
  object-fit: cover;
  margin-left: 40px;
}

.content .row principal .pentest img{
  width: 56%;
  height: auto;
  object-fit: cover;
  margin-left: 40px;
}

.content .row principal .vuln img{
  width: 43%;
  height: auto;
  object-fit: cover;
  margin-left: 40px;
}

.content .row principal .qnap img{
  width: 55%;
  height: 100%;
  object-fit: cover;
  margin-left: 0px;
}

.content .row principal .lenovo img{
  width: 50%;
  height: 100%;
  object-fit: cover;
  margin-left: 0px;
}

.content .row principal .dell img{
  width: 57%;
  height: 100%;
  object-fit: cover;
  margin-left: 0px;
}

.content2 .row img{
  width: 8%;
  height: 100%;
  object-fit: cover;
}

.content100 .row img{
  width: 8%;
  height: 100%;
  object-fit: cover;
}

.content3 .row img{
  width: 6%;
  height: 100%;
  object-fit: cover;
}

.content5 .row img{
  width: 12%;
  height: 100%;
  object-fit: cover;
}

.content32 .row img{
  width: 9%;
  height: 100%;
  object-fit: cover;
}

.content4 .row img{
  width: 8%;
  height: 100%;
  object-fit: cover;
}

.content .row header{
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
}

.content2 .row header{
  color: #f2f2f2;
  font-size: 17px;
  font-weight: 500;
  padding-left: 30px;
}

.content100 .row header{
  color: #f2f2f2;
  font-size: 17px;
  font-weight: 500;
  padding-left: 30px;
}
.content3 .row header{
  color: #f2f2f2;
  font-size: 17px;
  font-weight: 500;
  padding-left: 30px;
}

.content5 .row header{
  color: #f2f2f2;
  font-size: 17px;
  font-weight: 500;
  padding-left: 30px;
}
.content32 .row header{
  color: #f2f2f2;
  font-size: 17px;
  font-weight: 500;
  padding-left: 30px;
}

.content .row .mega-links{
  /*border-left: 1px solid rgba(255,255,255,0.09);*/
}
.row .mega-links li{
  padding: 0 20px;
}

.row .mega-links2 li{
  padding: 0 20px;
}
.row .mega-links li a{
  padding: 0;
  padding: 0 20px;
  color: #d9d9d9;
  font-size: 15px;
  display: block;
}

.row .mega-links2 li a{
  padding: 0;
  padding: 0 20px;
  color: #d9d9d9;
  font-size: 15px;
  display: block;
}

.row .mega-links li a:hover{
  color: #3CF;
}

.row .mega-links2 li a:hover{
  color: #3CF;
}
.wrapper .btn{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}

@media screen and (max-width: 970px) {
  .wrapper .btn{
    display: block;
  }
  .wrapper .nav-links{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }
  #menu-btn:checked ~ .nav-links{
    left: 0;
  }
  #menu-btn:checked ~ .btn.menu-btn{
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn{
    display: block;
  }
  .nav-links li{
    margin: 15px 10px;
  }
  .nav-links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu{
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box{
    max-height: 100%;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box-firewall{
    max-height: 100%;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box-servicios{
    max-height: 100%;
  }

  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box-unacolumna{
    max-height: 100%;
  }
    #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box-respaldos{
    max-height: 100%;
  }
  .nav-links .desktop-item{
    display: none;
  }
  .nav-links .mobile-item{
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover{
    background: #3A3B3C;
  }
  .drop-menu li{
    margin: 0;
  }
  .drop-menu li a{
    border-radius: 5px;
    font-size: 18px;
  }
  .mega-box{
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box-respaldos{
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
  }
    .mega-box-firewall{
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
  }
    .mega-box-servicios{
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
  }
      .mega-box-unacolumna{
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content{
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box-respaldos .content{
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box-firewall .content{
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box-servicios .content{
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box-unacolumna .content{
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row{
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255,255,255,0.08);
  }
  .mega-box-respaldos .content .row{
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255,255,255,0.08);
  }
  .mega-box-firewall .content .row{
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255,255,255,0.08);
  }
  .mega-box-servicios .content .row{
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255,255,255,0.08);
  }
  .mega-box-unacolumna .content .row{
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255,255,255,0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2){
    border-top: 0;
  }
  .mega-box-respaldos .content .row:nth-child(1),
  .mega-box-respaldos .content .row:nth-child(2){
    border-top: 0;
  }
  .mega-box-firewall .content .row:nth-child(1),
  .mega-box-firewall .content .row:nth-child(2){
    border-top: 0;
  }
  .mega-box-servicios .content .row:nth-child(1),
  .mega-box-servicios .content .row:nth-child(2){
    border-top: 0;
  }
  .mega-box-unacolumna .content .row:nth-child(1),
  .mega-box-unacolumna .content .row:nth-child(2){
    border-top: 0;
  }
  .content .row .mega-links{
    border-left: 0;
    padding-left: 15px;
  }
  .row .mega-links li{
    margin: 0;
  }
  .content .row header{
    font-size: 19px;
  }
}
nav input{
  display: none;
}

.body-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.body-text div{
  font-size: 45px;
  font-weight: 600;
}

/*Fondo animado banda contacto */

.header__banner_bg {
	margin: 0;
	width: 100%;
	height: 32px;
	color: #fff;
	background: #26397a;
	background: linear-gradient(45deg, #26397a, #6d406f, #26397a, #6d406f, #26397a, #6d406f);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
}

@media screen and (max-width: 429px) {
.header__banner_bg {
	height: 40px;
}
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.containerbanner {
	width: 35%;
	position: absolute;
	top: 35%;
	text-align: center;
}




/*** fin menu header ***/
.hidden_mobile {
    display:none ;
}

.hidden_mobile2 {
    display:none ;
}

.hidden_desktop {
    display:contents;
}

@media screen and (max-width: 429px) {
  .hidden_mobile {
    display:block;
    line-height: 7px;
}

  .hidden_mobile2 {
    display:block;
    line-height: 20px;
}
  .hidden_desktop {
    display:none;
}

}

/**** responsivo ancho ***/
@media screen and (max-width: 1700px) {
  .size_logo {
    width: 240px;
      margin-top:5px;

  }

}

@media screen and (max-width: 1400px) {
  .size_logo {
    width: 192px;
    margin-top: 11px;
  }

  header_titulo {
    font-size: 13px;
    }

}

@media screen and (max-width: 1300px) {
  .main-header .logo {
    padding-left: 40px;
  }

}

@media screen and (max-width: 1250px) {
  .bn_header{
  padding: 13px 70px;
}

}


@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

.size_logo {
      margin-top:8px;

  }

  #mobileNav {
    margin-top: -38px;
}

}
/*** fin de responsivo ancho ***/
